/*p, a, li {
    font-family: sans-serif;
}*/ 

body {
    font-family: sans-serif;
    color: green; /*nao passa para o link*/
}

a {
    color: green;
}

a:hover {
    background-color: #ccc;
}

a:visited {
    color: red;
}

/*a:link {          estado padrão da tag a

}*/

a:active {
    color: orange; /*quando segura no link*/
}

ul li { /*li que está dentro da ul*/
    list-style-type: circle; /*disc, circle, square*/
}

ol li { /*li que está dentro da ol*/
    list-style-type: lower-roman; /*lower/upper-alpha, lower/upper-romam, decimal, lower/upper-latin*/
    list-style-position: inside; /*inside:dentro da lista, outside: fora da lista*/
}